:root {
  --primary-color: #ffa502;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0%;
}

h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
}

.logo-hover:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.06);
}

@media only screen and (min-width: 768px) {
  h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 0%;
  }

  h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 0%;
  }
}
